#cover {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    pointer-events: none;

    @include flexbox;
    @include align-items(center);
    @include align-content(center);
    @include flex-wrap(wrap);

    .bg-gradient {
        height: 100%;
        width: 100%;
        background: linear-gradient(239deg, $medium-grey, $dark-grey, $flamingo);
        background-size: 600% 600%;
        -webkit-animation: bg-animation 10s ease infinite;
        -moz-animation: bg-animation 10s ease infinite;
        animation: bg-animation 10s ease infinite;
        -webkit-clip-path: polygon(0 0, 93% 0, 55% 100%, 0% 100%);
        clip-path: polygon(0 0, 93% 0, 55% 100%, 0% 100%);

        @media screen and (max-width: 1470px) {
            -webkit-clip-path: polygon(0% 0%, 77% 0%, 0% 100%);
            clip-path: polygon(0% 0%, 77% 0%, 0% 100%);
            @include transition(all, 0.25s, ease-in-out);
        }

        @include opacity(0.4);
        @include transition(all, 0.25s, ease-in-out);
    }

    @include keyframes(bg-animation) {
        0% {
            background-position: 0 81%;
        }
        50% {
            background-position: 100% 20%;
        }
        100% {
            background-position: 0 81%;
        }
    }
}

#cover-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 7;
    transition: all 0.25s;

    @media screen and (min-width: $wide-screen) {
        width: calc(1600px + 10%);
    }

    @media screen and (min-width: $ultra-wide-4k) {
        width: 100%;
    }

    @include flexbox;
    @include flex-wrap(wrap);

    .img-container {
        padding: 0;
        margin: 0;
        @include clearfix;

        img {
            &#logo {
                z-index: 50;
                padding: 40px 0 0 40px;
                margin: 0;
                width: 150px;
                pointer-events: none;

                @media screen and (min-width: $ultra-wide-4k) {
                    width: 300px;
                }
            }
        }
    }

    .written-content {
        z-index: 50;
        width: 100%;
        margin: 80px auto 40px auto;
        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-content(center);
        @include align-items(center);
        @include transition(all, 0.25s, ease-in-out);

        @media screen and (max-width: $lg-breakpoint-min) {
            @include justify-content(flex-start);
            @include clearfix;
        }

        .item {
            width: 40%;
            @include transition(all, 0.25s, ease-in-out);
            @include clearfix;

            &:first-child {
                width: 28%;
            }

            &:last-child {
                width: 32%;
            }

            @media screen and (max-width: $lg-breakpoint-min) {
                width: 100%;

                &:first-child,
                &:last-child {
                    width: 100%;
                }
            }

            h1 {
                font-family: $merriweather;
                font-weight: $font-weight-regular;
                color: white;
                font-size: 30px;
                line-height: 36px;

                @media screen and (min-width: $ultra-wide-4k) {
                    font-size: 62px;
                    line-height: 68px;
                }

                @media screen and (max-width: 1699px) {
                    font-size: 28px;
                    line-height: 34px;
                }

                @media screen and (max-width: 1366px) {
                    font-size: 24px;
                    line-height: 30px;
                }

                @media (min-width: 360px) and (max-width: 1365px) {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
    }

    .client-logos {
        z-index: 50;
        width: 100%;
        margin-bottom: 40px;

        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        @include align-items(center);
        @include transition(all, 0.25s, ease-in-out);

        img {
            width: 185px;
            max-width: 100%;
            padding: 15px;
            margin: 40px auto;

            &:nth-child(3) {
                width: 125px;
            }

            @media screen and (min-width: $ultra-wide-4k) {
                width: 250px;
            }

            @media screen and (max-width: 1470px) {

                &:nth-child(3) {
                    width: 125px;
                }
            }

            @include transition(all, 0.25s, ease-in-out);
        }
    }

    .copyright {
        width: 100%;
        padding: 0 40px 40px 40px;

        @media screen and (max-width: 818px) {
            padding: 40px;
            text-align: center;
        }

        span {
            font-size: 12px;
            color: $medium-grey;
        }
    }
}
