html, body {
  font-size: 16px;
}

#cover {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  h1 {
    @include vw(95px);
    color: white;
  }
}
