html,
body {
  font-size: 16px;
}

#cover {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.25s;
  -webkit-clip-path: polygon(0 0, 93% 0, 55% 100%, 0% 100%);
  clip-path: polygon(0 0, 93% 0, 55% 100%, 0% 100%);
  background-color: rgba(21, 21, 21, 0.9);

  @include gradient($dark-grey, rgba(0,0,0, 0.6), horizontal);

  @media screen and (max-width: $sm-breakpoint-max) {
    -webkit-clip-path: polygon(0 0, 88% 0, 48% 100%, 0% 100%);
    clip-path: polygon(0 0, 88% 0, 48% 100%, 0% 100%);
  }

  h1 {
    @include vw(95px);
    color: white;
  }
}
