canvas {
  z-index: 2;
  display: block;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-image: url("");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: scroll;
  

  @include gradient($dark-grey, rgba(0, 0, 0, 1), horizontal);
}
