// Variables
$open-sans: "Open Sans", sans-serif;
$merriweather: "Merriweather", serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Sizes
$xs-breakpoint-max: 576px;
$sm-breakpoint-min: 578px;
$sm-breakpoint-max: 767px;
$md-breakpoint-min: 768px;
$md-breakpoint-max: 991px;
$lg-breakpoint-min: 992px;
$lg-breakpoint-max: 1199px;
$xl-breakpoint-min: 1200px;
$xl-breakpoint-max: 1600px;
$max-breakpoint: 1920; // Don't give it a pixel size, variable below applies it.
$wide-screen: "(min-width: #{$max-breakpoint})px";

// Colours
$lighter-grey: gainsboro;
$light-grey: lightgray;
$medium-grey: darkgray;
$dark-grey: #212121;
